* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url("/public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.container {
  height: 95vh;
  width: 95vw;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
}
.chat-user {
  border-bottom: 1px solid #dddddd35;
}
.user {
  border-bottom: 1px solid #dddddd35;
}

.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
}
.user {
  border-bottom: 1px solid #dddddd35;
}
.bottom {
  border-top: 1px solid #dddddd35;
}
